emacs/.emacs.d/elpaca/
emacs/.emacs.d/.org-generic-id-locations
emacs/.emacs.d/.tutor/
emacs/.emacs.d/bookmarks
emacs/.emacs.d/oauth2-auto.plist
emacs/.emacs.d/org-persist/
emacs/.emacs.d/recentf
emacs/.emacs.d/transient/
emacs/.emacs.d/auto-save-list/
emacs/.emacs.d/eln-cache/
emacs/.emacs.d/elpa/
emacs/.emacs.d/tree-sitter/
emacs/.emacs.d/var/
emacs/.emacs.d/etc/
emacs/.emacs.d/docs/
.claude/
sketchybar/sketchybar-app-font/
ebak/
sketchybar/plugins/weather.env.sh
.agent-shell/
random.org
docs/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dev-debug.log
# Dependency directories
node_modules/
# Environment variables
.env
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# OS specific
.DS_Store

# Task files
# tasks.json
# tasks/ 
