emacs/.emacs.d/elpaca/
emacs/.emacs.d/.org-generic-id-locations
emacs/.emacs.d/.tutor/
emacs/.emacs.d/bookmarks
emacs/.emacs.d/oauth2-auto.plist
emacs/.emacs.d/org-persist/
emacs/.emacs.d/recentf
emacs/.emacs.d/transient/
emacs/.emacs.d/auto-save-list/
ebak/